header {
    background-color:#2488af;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    margin-top: 0%;
    width: 60%;
}

/* selector de clase */
.tituloSeccion{
    background-color: #2488af;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 60%;


    
}

.imagen{
    background-image: url(../img/Foto.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left;
    border-radius: 15%;
    margin: auto;
    padding-block-end: 3%;
    display:flex;
    width: 60%;

}
.datos{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background size: 12%;
    border-radius: 15px;
    
}
]
h1{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20%;
    font-weight: 700;
    line-height: 29.64px;
    text-align: center;
    width: 60%;
}



footer{
    background-color:#2488af;
    text-align: center;
    width: 60%;
}
